<!DOCTYPE html>
<html>
  <head>
    <title>Koding Kweenz</title>
  </head>
  <body>
    <h1><center>Koding Kweenz</center></h1>
    <h2>Saving the world one line of code at a time.</h2>
    <br>
    <br>
    <h2>MALLORY AND ELANA LOVE TO KODE</h2>
    <br>
    <br>
    <img src = "https://static.wixstatic.com/media/fa82a7_1929a1464744466caa8d34d11d4d6203~mv2_d_3000_1688_s_2.jpg/v1/fill/w_980,h_1024,al_c,q_85,usm_0.66_1.00_0.01/fa82a7_1929a1464744466caa8d34d11d4d6203~mv2_d_3000_1688_s_2.webp">
    <img src = "https://connect.xfinity.com/appsuite/api/mail/IMG_6349.JPG?action=attachment&folder=default0%2FINBOX&id=65422&attachment=2&user=2&context=1655193&decrypt=&sequence=1&delivery=view">
  </body>
  
</html>