<!DOCTYPE html>
<html>
  <head>
    <title>Koding Kweenz</title>
  </head>
  <body>
    <h1><center>Koding Kweenz</center></h1>
    <h2>Saving the world one line of code at a time.</h2>
    <br>
    <br>
    <h2>MALLORY AND ELANA LOVE TO KODE</h2>
    
    
    
  </body>
  
</html>