<!DOCTYPE html>
<html>
  <head>
    <title>Kween Mallory</title>
  </head>
  <body>
    <h1><center>Kween Mallory</center></h1>
    <br>
    <h1>About Me</h1>
    <h2></h2>
    <br>
    <br>
    <h1>What's your favorite part of KWK?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Which parent are you more alike?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Who did you look up to growing up?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Favorite actress and why?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Favorite music genre?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Favorite cultural activity?</h1>
    <h2></h2>
    <br>
    
  </body>
  
</html>