<!DOCTYPE html>
<html>
  <head>
    <title>Kween Mallory</title>
  </head>
  <body>
    <h1><center>Kween Mallory</center></h1>
    <br>
    <h1>About Me</h1>
    <h2>My name is Mallory Maher, but all of my friends and family call me Mal. I play soccer and have two siblings.</h2>
    <br>
    <br>
    <h1>What's your favorite part of KWK?</h1>
    <h2>THE INSTRUCTORS AND MY NEW BFFZ</h2>
    <br>
    <br>
    <h1>Which parent are you more alike?</h1>
    <h2>I'm a lot like both of my parents.</h2>
    <br>
    <br>
    <h1>Who did you look up to growing up?</h1>
    <h2>My mom and Taylor Swift.</h2>
    <br>
    <br>
    <h1>Favorite actress and why?</h1>
    <h2>Scarlett Johanson</h2>
    <br>
    <br>
    <h1>Favorite music genre?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Favorite cultural activity?</h1>
    <h2></h2>
    <br>
    
  </body>
  
</html>